/*
 * custom.css - jordansne.com
 *
 * Author: Jordan Sne
 * License: MIT
 */

/*
 * ======================================================
 * ===================== Content CSS ====================
 * ======================================================
 */

.content {
    color: white;
    text-align: justify;

    width: 69.5%;
    margin: 0px auto;
}

.content_sub {
    padding: 5px 0px;
    margin: 25px 0px;
}

.content_sub h2 {
    color: #a6abd8;
    line-height: 200%;

    margin: 0px 0px 5px 0px;
}

.footer {
    font-size: 14px;
    text-align: center;

    margin-top: 50px;
    margin-bottom: 25px;
}

/*
 * ======================================================
 * =================== Header Bar CSS ===================
 * ======================================================
 */

/* Entire top of website, including abstract image */
.header {
    font-size: 18px;
    color: #a0a0a0;
    line-height: 24px;

    background-image: url("../image/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Set to window height. */
    height: 100vh;
}

/* "Jordan Sne | Software Developer" */
.header_title {
    font-size: 65px;
    color: white;

    display: inline-block;
    margin-top: 50vh;
    margin-left: 15%;
}

/* Vertical Line */
.header hr {
    font-size: 45px;
    border-color: #a0a0a0;
    width: 1px;

    display: inline;
    margin: 0px 10px;
}

.arrow {
    position: absolute;
    top: calc(100vh - 60px);
    left: calc(50% - 25px);
}

/*
 * ======================================================
 * ==================== Nav Bar CSS =====================
 * ======================================================
 */

/* Full width static navigation bar */
.navbar {
    font-size: 16px;
    color: #a0a0a0;
    background-color: #282828;

    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    left: 0px;
}

/* Navigation bar links */
nav ul {
    font-family: "Trebuchet MS";
    list-style: none;

    margin: 0px 0px 0px 12.7%;
    padding: 0px;

    overflow-x: hidden;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    cursor: pointer;

    padding: 10px 25px;
}

/* Navigation bar rollover */
nav li:hover {
    background-color: rgba(69, 78, 158, 0.6);
}
