/*
* ======================================================
* ===================== Content CSS ====================
* ======================================================
*/

.content {
    padding: 15px;

    color: white;
    text-align: justify;
}

.footer {
    font-size: 14px;
    text-align: center;
}

ul.contact {
    padding: 0px;
    text-align: center;
}

ul.contact li {
    padding: 25px;
}

/*
* ======================================================
* =================== Header Bar CSS ===================
* ======================================================
*/

/* Entire header content */
.header {
    width: 84%;
    min-width: 630px;
    position: fixed;
    top: 0px;
    left: 8%;

    color: black;
    background-color: rgba(220, 220, 220, .95);
    line-height: 24px;
}

/* The "Jordan Sne" in the header */
.header_title {
    width: 77%;
    min-width: 630px;
    margin: auto;
    margin-bottom: 5px;

    line-height: 0px;
}

/*
* ======================================================
* ================ Header Nav Bar CSS ==================
* ======================================================
*/

/* Full width navbar */
.navbar {
    font-size: 16px;
    background-color: #9b9b9b;
}

/* Link List */
nav ul {
    padding: 0px;
    width: 77%;
    min-width: 630px;
    margin: auto;

    list-style-type: none;
    overflow-x: hidden;

    font-family: "Trebuchet MS";
}

nav ul li {
    float: left;
}

nav ul li a {
    padding: 10px;
    display: block;

    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    background-color: rgba(69, 78, 158, 0.6);
}

/*
* ======================================================
* ====================== Misc CSS ======================
* ======================================================
*/

/* Custom blue colour */
.blue {
    color: #454e9e;
}
