/*
 * style.css - jordansne.com
 * Author: Jordan Sne
 */

/*
 * ======================================================
 * =================== Header Bar CSS ===================
 * ======================================================
 */

/* Entire top of website, including abstract image */
header {
    font-size: 18px;
    color: #a0a0a0;
    line-height: 24px;

    background-image: url("../image/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Set to window height */
    height: 100vh;
}

/* "Jordan Sne | Software Developer" */
header #title {
    font-size: 65px;
    color: white;

    display: inline-block;
    margin-top: 50vh;
    margin-left: 15%;
}

/* "(Mathewson)" underneath name */
header #subtitle {
    font-size: 25px;
    color: rgba(103, 102, 102, 0.65);

    display: inline-block;
    margin-top: 10px;
    margin-left: 15%;
}

/* "Software Developer" in the front title */
#header_sub_animate {
    position: relative;
}

/* Vertical Line */
header hr {
    font-size: 45px;
    border-color: #a0a0a0;
    width: 1px;

    display: inline;
    margin: 0px 15px;
}

/* Down pointing arrow */
#arrow {
    position: absolute;
    top: calc(100vh - 60px);
    left: calc(50% - 25px);
}

/*
 * ======================================================
 * ==================== Nav Bar CSS =====================
 * ======================================================
 */

/* Full width static navigation bar */
nav {
    font-size: 16px;
    color: #a0a0a0;
    background-color: #282828;

    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    left: 0px;
}

/* Navigation bar links */
nav ul {
    font-family: "Trebuchet MS";
    list-style: none;

    margin: 0px 0px 0px 12.7%;
    padding: 0px;

    overflow-x: hidden;
}

nav ul li {
    display: inline-block;

    /* Prevent accidental text hightligthing */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav ul li a {
    display: block;
    cursor: pointer;

    padding: 10px 25px;
}

/* Navigation bar rollover */
nav li:hover {
    background-color: rgba(93, 110, 186, 0.6);
}

/*
 * ======================================================
 * ===================== Content CSS ====================
 * ======================================================
 */

article {
    color: white;
    text-align: justify;

    width: 69.5%;
    margin: 0px auto;
}

section {
    padding: 5px 0px;
    margin: 100px 0px;

    border-left: solid 2px gray;
    padding-left: 40px;
}

section h2 {
    color: #a6abd8;
    line-height: 200%;

    font-size: 30px;

    margin: 0px 0px 20px 0px;
}

section h3 {
    color: #a6abd8;
    margin: 35px 0px;

    font-size: 20px;
}

section hr {
    border: none;
    height: 1px;
    color: white;
    background-color: white;
}

section#about div#skillbox {
    background-color: #2d2d2d;
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
}

section#about div#skillbox h4 {
    color: #999999;
    width: 102px;
    display: inline-block;
}

section#about ul.skill {
    margin: 8px 0px;
    padding-left: 0px;
    display: inline-block;
}

section#about ul.skill li {
    background-color: #717070;
    display: inline-block;
    padding: 10px;
    border-radius: 1px;
}

section#contact #list {
    margin: 30px auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section#contact #list .contact {
    text-align: center;
}

section#contact .email {
    font-weight: bold;
    text-decoration: underline;
}

footer {
    color: gray;
    background-color: #2b2b2b;

    font-size: 14px;
    font-style: italic;
    text-align: center;

    margin-top: 20px;
    padding: 20px 0px;
}

footer i {
    padding: 10px 10px;
    text-decoration: none;
}

/*
 * ======================================================
 * ===================== General CSS ====================
 * ======================================================
 */

body {
    color: white;
    background-color: #333333;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    margin: auto;
    min-width: 925px;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-family: 'verdana', sans-serif;
    line-height: 150%;
}
