body {
    width: 65%;
    min-width: 630px;
    margin: auto;
    margin-top: 105px;
    padding: 5px;
/*
 * style.css - jordansne.com
 *
 * Author: Jordan Sne
 * License: MIT
 */

    color: white;
    background-color: #333333;
    font-family: "verdana";
    font-size: 13px;
}

h1 {
    font-size: 65px;
    display: inline-block;
}

h2 {
    margin-bottom: 5px;
    margin-top: 25px;
    
    color: #a6abd8;
    line-height: 200%;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
}
